.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}

.task-table{
    border-collapse: collapse;
}
.task-table, .task-table th, .task-table td {
    padding: 20px 50px;
}
.task-table tr {
    border: 1px solid black;
}
.Search input{
    width: 440px;
    padding: 5px;
}
button{
    padding: 5px;;
}